* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	color: #2d3c49;
}

/* Framework */
.grid {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.row {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 100%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

img {
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Header */
header {
	line-height: 90%;
	text-align: right;
}

.header-logo {
	width: 70%;
	margin: 5% 20% 0 0;
}

h1 {
	font-size: 2.25em;
	font-weight: 300;
	margin-top: 5%;
}

h4 {
	font-size: 0.9em;
	font-weight: 500;
	margin-bottom: 2%;
}

.hr-style {
	border-top: 3px solid #7d97ad;
}

/* Body */
div {
	line-height: 50%;
}

h2 {
	font-size: 1.75em;
	font-weight: 400;
	margin-left: 0.3em;
	color: #7d97ad;
}

h3 {
	font-size: 1.25em;
	font-weight: 700;
	margin: 12px 0 2% 0;
}

p {
	margin: 20px 0 20px 0;
	font-size: 1em;
	font-weight: 700;
}

article {
	text-align: center;
	line-height: 25%;
}

@media screen and (max-width: 360px) {
	h1 {
		font-size: 1.55em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1em;
	}

	h4 {
		font-size: 0.8em;
	}

	p {
		font-size: 0.7em;
		font-weight: 800;
	}
}

@media screen and (min-width: 500px) and (max-width: 700px) {

	h1 {
		font-size: 3.5em;
		font-weight: 200;
	}

	h2 {
		font-size: 2.5em;
		text-align: center;
	}

	h3 {
		font-size: 1.5em;
		font-weight: 600;
	}

	h4 {
		font-size: 1.4em;
		font-weight: 300;
	}

	p {
		font-size: 0.9em;
		font-weight: 500;
	}

	.col-4 {
		width: 33.33%;
		flex-grow: 1;
	}

	.second-item {
		margin-right: 20px;
	}

	.first-column {
		width: 100%;
		margin: 0 auto;
		display: flex;
	}

	.second-column {
		width: 100%;
		margin: 0 auto;
		display: flex;
	}
}

@media screen and (min-width: 701px) and (max-width: 800px) {

	.first-column {
		width: 72%;
		display: flex;
	}

	.second-column {
		width: 28%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
	}

	.second-item {
		margin-bottom: 0;
	}

	.first-item {
		margin-right: 10px;
	}

	h1 {
		font-size: 3.75em;
		font-weight: 200;
	}

	h2 {
		font-size: 3em;
		font-weight: 300;
		text-align: left;
	}

	h3 {
		font-size: 2em;
		font-weight: 600;
		margin: 20px 0 20px 0;
	}

	h4 {
		font-size: 1.5em;
		font-weight: 300;
	}

	p {
		font-size: 1em;
		font-weight: 500;
	}

	.header-logo {
		width: 60%;
		margin-right: 30%;
	}

	.first-item-heading {
		font-size: 2.25em;
		font-weight: 600;
		margin-top: 20px;
	}

	.second-item-heading,
	.third-item-heading {
		font-size: 1.5em;
		font-weight: 500;
		margin-top: 20px;
	}

	.second-item-link,
	.third-item-link {
		font-size: 0.7em;
		font-weight: 700;
	}
}

@media screen and (min-width: 801px) {

	.row {
		flex-wrap: nowrap;
	}

	.header-logo {
		width: 45%;
		margin: 15% 45% 0 0;
	}

	h1 {
		font-size: 4em;
		font-weight: 200;
	}

	h2 {
		font-size: 3.5em;
		font-weight: 300;
	}

	h3 {
		font-size: 2em;
		font-weight: 500;
		margin-top: 20px;
	}

	h4 {
		font-size: 1.55em;
		font-weight: 300;
	}

	p {
		font-size: 0.9em;
		font-weight: 600;
		margin-top: 25px;
	}

	.hr-style {
		border-bottom: 3px solid #7d97ad;
		margin: 20px 0 30px 0;
	}


	.first-item {
		width: 100%;
		margin-right: 10px;
	}


	.second-column .col-4 {
		width: 50%;
		margin-left: 10px;
	}

	.second-item {
		margin-right: 10px;
	}

	.first-column {
		width: 33.33%;
		margin: 0 auto;
		display: flex;
	}

	.second-column {
		width: 66.66%;
		margin: 0 auto;
		display: flex;
	}
}
